// Font families
$font-logo:'Signika', sans-serif; 
$font-titles: 'Lobster', cursive;
// Font sizes


// Base colors
$carbon: #333;
$blanco: whitesmoke;
$gris: rgb(175, 174, 174);
$rojizo: rgb(178, 40, 29);
$rojizo2: rgb(214, 49, 37);
$naranja: rgb(247, 127, 58);
$amarillo: rgb(255, 184, 77);

// Main components colors


// Responsive
// 667 iphone landscape. 768 ipad portrait
$mobile-portrait-width: 414px;
$mobile-landscape-width: 767px;
$tablet-portrait-width: $mobile-landscape-width + 1;
$tablet-landscape-width: 1024px;

// Forms variables

